.eventRotation{
    
    .title{
        background-color: #0d2153;    
        color: white;
        text-shadow: 1px 1px 5px #000;
        margin-top : 10px;
        font-size: 18px;
        padding: 5px;
    }
    max-width: 1000px;
    @media screen and (max-width: 768px){
        max-width: 500px;
    }
    margin: auto;
    .eventContainer{    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .event{
            @media screen and (max-width : 768px){
                flex-basis: 300px;
            }
            flex-basis: 47%;
            margin: 5px;
            cursor: pointer;
        }
    }
    .topBar {
        // height: 10px;
        color: white;
        background-color: #000;
        display: flex;
        justify-content: center;
    }
    .info{
        color: white;
        text-shadow: 1px 1px 5px #000;
        .eventInfoContainer{
            display: flex;
        }
        .modeImg{
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width : 100%;
            }
            margin : 0 10px;
        }
        .eventInfo{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            height: 60px;
        }
    }
    .winRateInfo{
        display: flex;
        justify-content: center;
        .brawlerImg{
            width: 50px;
            margin: 10px 10px 0 10px;
        }
        background : rgba(0, 0, 0, 0.1);
    }
    
    
    .gemGrab{
        background-color: #9b3df3;
    }
    .soloShowdown{
        background-color: #81d621;
        &.plus{
            background-color: #f1c526;
        }
    }
    .heist{
        background-color: #d55cd3;
    }
    .bounty{
        background-color: #01cfff;
    }   
    .brawlBall{
        background-color: #8ca0df;
    }
    .siege{
        background-color: #f04f32;
    }
    .hotZone{
        background-color: #e33c50;
    }
    .knockout{
        background-color: #f7831c;
    }
    .superCityRampage{
        background-color: #db19a0;
    }
    .bigGame{
        background-color: #ae0026;
    }
    .roboRumble{
        background-color: #ae0026;
    }
}