.mapClass{
    margin-top : 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .trophySelect{
        display: flex;
        label{
            margin-right : 10px;
        }
        margin-bottom: 10px;
        align-items: center;
    }
    img{
        width: 30px;
        height: 30px;
    }
    .infoContainer{
        max-width : 400px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .info{
            .brawler{
                width : 100%;
                display: flex;
                .brawlerName{
                    margin-left : 10px;
                }
            }
        }
    }
    @media screen and (min-width : 768px) {
        .infoContainer{
            max-width: none;
            width: 768px;
            
        }
    }
}