.SoloDuoModeContainer {
  max-width: 500px;
  flex: 1 1 250px;
  margin-bottom: 10px;
  &.rank1 {
    border-left: 5px solid #778dc5;
  }
  &.rank2 {
    border-left: 5px solid #9292cf;
  }
  &.rank3 {
    border-left: 5px solid #a088ce;
  }
  &.rank4 {
    border-left: 5px solid #bc81c4;
  }
  &.rank5 {
    border-left: 5px solid #cc82be;
  }
  .topContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    &.rank1 {
      background: #b0c2ee;
    }
    &.rank2 {
      background: #c1c1ed;
    }
    &.rank3 {
      background: #d1c2ed;
    }
    &.rank4 {
      background: #e7c2ec;
    }
    &.rank5 {
      background: #f4c2eb;
    }
    .rank {
      font-weight: bold;
    }
    .rank1Content {
      color: #445b94;
    }
    .rank2Content {
      color: #5757a0;
    }
    .rank3Content {
      color: #624a91;
    }
    .rank4Content {
      color: #83448b;
    }
    .rank5Content {
      color: #8d4880;
    }
  }
  .gameInfoContainer {
    display: flex;
    padding: 0 20px;
    &.rank1 {
      background: #d4dffa;
    }
    &.rank2 {
      background: #e2e2ff;
    }
    &.rank3 {
      background: #f0e8ff;
    }
    &.rank4 {
      background: #f6dafa;
    }
    &.rank5 {
      background: #ffddf9;
    }
    .tableContainer {
      width: 100%;
    }
    table {
      width: 100%;
      height: 100%;
    }
  }
  .playerContainer{
    display: flex;
    
  }
}
