.trioContainer {
  max-width: 500px;
  flex: 1 1 250px;
  margin-bottom: 10px;
  &.victory {
    border-left: 5px solid #65a2d9;
  }
  &.defeat {
    border-left: 5px solid #df7974;
  }
  .top {
    text-align: left;
    &.victory {
      background: #a2d7f9;
    }
    &.defeat {
      background: #f7c5c2;
    }
  }
  .info {
    &.victory {
      background: #bce4fe;
    }
    &.defeat {
      background: #f1d7d5;
    }

    .brawlerContainer {
      display: inline-block;
      width: 20%;
    }
    .gameInfoContainer {
      display: inline-block;
      width: 80%;
      .map {
        width: 25%;
      }
      .duraion {
        width: 25%;
      }
      .power {
        width: 25%;
      }
      .trophies {
        width: 25%;
      }
    }
  }
}
.result {
  display: inline-block;
  margin-left: 10px;
  font-weight: 700;
  &.victory {
    color: #1a78ae;
  }
  &.defeat {
    color: #c6443e;
  }
}
.time {
  margin-left: 25%;
  display: inline-block;
}
.starPlayer {
  margin-left: 20px;
  display: inline-block;
  color: #ffff6d;
}
