*{
  box-sizing: border-box;
}
.trioContainer {
  max-width: 500px;
  flex: 1 1 250px;
  margin-bottom: 10px;
  &.victory {
    border-left: 5px solid #65a2d9;
  }
  &.defeat {
    border-left: 5px solid #df7974;
  }
  &.draw {
    border-left: 5px solid #bbbbbb;
  }
  .top {
    text-align: left;
    &.victory {
      background: #a2d7f9;
    }
    &.defeat {
      background: #f7c5c2;
    }
    &.draw {
      background: #ebebeb;
    }
    .trophyChange {
      flex-basis: 30%;
      text-align: right;
      padding-right : 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .gameType{
    flex-basis: 30%;
  }
  .duration{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 30%;
  }
  .battleTime{
    padding-right: 10px;
    flex-basis: 30%;
    color : #30223c;
    font-weight: bold;;
    font-size : 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .modeInfo{
    padding-left: 10px;
    flex-basis: 30%;
    display: flex;
    .modeImg{
      width: 30px;
      height : 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        height: 100%;
      }
    }
    .modeMap{
      padding-left: 10px;
      .map{
        font-size : 10px;
      }
    }
  }
  .gameResult{
    flex-basis: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info {
    
    &.victory {
      background: #bce4fe;
    }
    &.defeat {
      background: #f1d7d5;
    }
    &.draw {
      background: #f1f1f1;
    }

    .brawlerContainer {
      display: inline-block;
      width: 20%;
    }
    .gameInfoContainer {
      display: inline-block;
      width: 80%;
      .gameTable {
        width: 100%;
      }
      .map {
        width: 25%;
      }
      .duration {
        width: 25%;
      }
      .power {
        width: 25%;
      }
      .trophies {
        width: 25%;
      }
    }
  }
  .trioPlayerContainer{
    display: flex;
    justify-content: center;
  }
  .typeInfo{
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .playerInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }  
  .durationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gameInfo{
    display: flex;
    justify-content: space-between;
    background-color: #786d98;
  }
}
.result {
  display: inline-block;
  margin-left: 10px;
  font-weight: 700;
  &.victory {
    color: #1a78ae;
  }
  &.defeat {
    color: #c6443e;
  }
}
.time {
  margin-left: 25%;
  display: inline-block;
}
.starPlayer {
  margin-left: 20px;
  display: inline-block;
  color: #ffff6d;
}

