.blogList{
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
        color : black;
    }
    a:visited{
        color : #6e6e6e;
    }
    table{
        margin:auto;
        margin-top : 50px;
    }
    .contentTr{
        cursor: pointer;
    }
}