.mapClass{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .trophySelect{
        display: flex;
        label{
            margin-right : 10px;
        }
        margin-bottom: 10px;
        align-items: center;
    }
    img{
        width: 30px;
        height: 30px;
    }
    .mapNameContainer{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .mapName{
            margin-right: 10px;
        }
    }
    .mapImgContainer{
        height: 300px;
        transition: 500ms;
        overflow: hidden;
        margin-bottom: 10px;
        &.none{
            height: 0px;
            overflow: hidden;
            transition: 500ms;
        }
        .mapImg{
            max-width: 200px;
            width: auto;
            height: auto;
        }
        &.showdown .mapImg{
            max-width: 300px;
            width: auto;
            height: auto;
        }
    }
    .infoContainer{
        max-width : 400px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .info{
            .brawler{
                width : 100%;
                display: flex;
                .brawlerName{
                    margin-left : 10px;
                }
            }
        }
    }
    @media screen and (min-width : 768px) {
        .infoContainer{
            max-width: none;
            width: 768px;
            
        }
    }
}