.mapClass {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titleContainer {
        width: 100%;
        max-width: 500px;
        border-radius: 5px;
        padding: 10px 0px;
        display: flex;
        margin-bottom: 0px;

        .imgContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;

            img {
                width: 30px;
            }
        }

        .info {
            text-align: left;
            color: white;
            text-shadow: 1px 1px 5px #000;

            .mode {
                cursor: pointer;
                font-size: 1.2rem;
                margin-bottom: 3px;
            }

            .mapName {
                font-size: 1rem;
            }
        }
    }

    .trophySelect {
        display: flex;

        label {
            margin-right: 10px;
        }

        margin-bottom: 10px;
        align-items: center;
    }



    .mapNameContainer {
        display: flex;
        align-items: center;
        cursor: pointer;

        .mapName {
            margin-right: 10px;
        }

        .chevronContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
        }
    }

    .mapImgContainer {

        transition: 500ms;
        overflow: hidden;

        &.none {
            height: 0px;
        }

        .mapImg {
            display: block;
            padding: 10px 0px;
            max-width: 200px;
            width: auto;
            height: auto;
        }

        &.showdown .mapImg {
            max-width: 300px;
            width: auto;
            height: auto;
        }
    }

    .yearMonthContainer {
        display: flex;

        .label {
            width: 100px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 20px;
        }
    }

    .infoContainer {
        max-width: 400px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .info {
            .brawler {
                width: 100%;
                display: flex;

                .brawlerName {
                    margin-left: 10px;
                }
            }
        }
    }

    @media screen and (min-width : 768px) {
        .infoContainer {
            max-width: none;
            width: 768px;

        }
    }
}