.recordResult {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        width: 30px;
        height: 30px;
    }

    .infoContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .info {
            .brawler {
                width: 100%;
                display: flex;

                .brawlerName {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                }
            }
        }

        table {
            width: 100%;

            thead>tr>th {
                height: 40px;
                padding: 5px 10px;
            }
        }
    }

    .rateHeader {
        cursor: pointer;

        .rateHeaderContent {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 10px;
        }
    }

    @media screen and (min-width : 768px) {
        .infoContainer {
            max-width: none;
            width: 768px;

        }
    }
}