/** @format */

.registerUser {
  padding: 0 10px;
  min-height: 500px;
  width: 100%;
  height: 100%;
  .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .sharpSign {
      font-size: 20px;
      margin-right: 5px;
    }
    input {
      padding-left: 5px;
      width: 200px;
      margin-right: 10px;
    }
    .btn {
      height: 40px;
    }
  }
  .found {
    padding: 10px;
    background-color: #0578d0;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    position: relative;

    .name {
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      background-color: #343c4f;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .registerBtn {
      position: absolute;
      right: 30px;
    }
    .message {
      color: white;
    }
  }

  .component {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      width: 30px;
      position: relative;
      float: left;
      .iconImg {
        position: absolute;
        width: 100%;
        left: -47px;
        top: 0px;
      }
    }
    .title {
      margin-bottom: 5px;
      color: white;
    }
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      background-color: #003072;
      color: white;
      font-weight: bold;
      width: 100px;
      border-radius: 4px;
      margin-bottom: 10px;
    }
  }
  .rowContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    .found {
      width: 100%;
    }
  }
}
